<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
   <title> Pesquisa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" >
    
  
</head>
<header>
   <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/img/Vinicius.png" width="30" height="30" class="d-inline-block align-top" alt="	Vinicius Farias ">
 	Vinicius Farias 
  </a>
</nav>

 
</header>
<body>

   <div class="col-sm-12">
<div class="card" >
  <div class="card-header">
  <h1>Cadastro cliente</h1>
  <a href="novo"> Volta ao Cadastro </a>
  </div>
  <div class="card-body"> 
 
  <table class="table">
				<thead>
					<tr>
						<th>Descrição</th>
						<th>Data de Vencimento</th>
						<th><th>Status</th>
						<th>Valor</th>
						
					</tr>
				</thead>
				</table>

  </div>  
  

</div>
</div>

<script src="/js/bootstrap.min.js"></script>

</body>
</html>
